body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 
{
  color: #01eeff;
  text-align: center;
}

input[type="text"], input[type="number"] 
{
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #01eeff;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
  
button 
{
  background-color: #4a00ac;
  color: #01eeff;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #01eeff;;
  border-radius: 4px;
  cursor: pointer;
}

button:hover 
{
  background-color: #a843fa;
}
  
.button-pages 
{
  margin-left: 10px;
}

.error 
{
  color: red;
  margin-bottom: 10px;
}

.success 
{
  color: rgb(51, 255, 0);
  margin-bottom: 10px;
}
  