<div class="container">
    <h1>Product Register</h1>
    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>

    <div>
        <input [(ngModel)]="name" placeholder="Name" type="text">
        <input [(ngModel)]="price" placeholder="Price" type="number">
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button (click)="registerProduct()">Register</button>        
    </div>

    <div>
        <button routerLink="/product/list" routerLinkActive="active">Product List</button>
        <button routerLink="/" routerLinkActive="active" class="button-pages">Home</button>
    </div>
</div>