<div class="container">
    <h1>Product List</h1>

    <div class="products">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.nome }}</td>
                <td>{{ product.preco }}</td>
            </tr>
        </table>
    </div>

    <div>
        <button routerLink="/product/register" routerLinkActive="active">Product Register</button>
        <button routerLink="/product" routerLinkActive="active">Product</button>
        <button routerLink="/" routerLinkActive="active">Home</button>
    </div>
</div>
