body 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}

h1 
{
  color: #01eeff;
  text-align: center;
}

button 
{
  background-color: #4a00ac;
  color: #01eeff;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #01eeff;;
  border-radius: 4px;
  cursor: pointer;
}

button:hover 
{
  background-color: #a843fa;
}

button + button 
{
  margin-left: 20px;
}
  